:root{
    --color-dark: rgb(14, 14, 14);
    --color-dark2: rgb(32, 32, 32);
    --color-dark3: rgb(22, 22, 22);
    --color-white: #fff;
    --color-green: rgb(103, 195, 80);
    --color-green2: rgb(51, 149, 26);
    --color-red: rgb(184, 40, 35);
    --color-red2: rgb(146, 22, 17);
}

h1 {
    align-items: center;
}

body {
    background-color: var(--color-dark);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.content--add-prod {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#input-new-prod, 
#input-destination, 
#input-rate, 
#input-time,
#input-manage,
#select-prod,
#input-date,
#btn-new-prod {
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 1rem;
}

#input-new-prod, 
#input-destination, 
#input-rate, 
#input-time,
#input-date,
#input-manage,
#select-prod {
    width: 11rem;
    border-radius: 1rem;
    margin: 2px;
}

#btn-new-prod {
    background-color: var(--color-dark2);
    color: var(--color-white);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#btn-new-prod:hover {
    background-color: var(--color-dark3);
}

#prod-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}

#prod-list li{
    list-style-type: none;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

.produto {
    border: 2px solid var(--color-dark2);
    border-radius: 1.5rem;
    padding: 1.5rem;
    color: var(--color-dark3);
    background-color: var(--color-white); 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
    display: flex;
    position: relative;
    align-items: center;
}

.um {
    display: flex;
    flex-direction: column;
    margin-right: 2.5rem;
    gap: 0.5rem;
    
}

.dois {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.nome,
.status,
.dest,
.rent,
.prazo,
.taxa {
    margin-bottom: 0.7rem;
}

.remove-button {
    background-color: var(--color-red); 
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
    position: relative;
    margin-top: 60px;  
    margin-left: 20px;
}

.status-button {
    background-color: var(--color-green); 
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
    position: relative;
    margin-top: 60px;  
    margin-left: 20px;
}

.remove-button:hover {
    background-color: var(--color-red2);
}

.status-button:hover {
    background-color: var(--color-green2);
}

.um,
.dois {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start; 
}

.remove-button svg {
    width: 16px;
    height: 16px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

