<!DOCTYPE html>
<html>
<head>
  <title>Adicionar Novo Produto</title>
</head>
<body>
  <h1>Adicionar Novo Produto</h1>

<form action="form-produto" method="POST">

  <input type="text" name="nome" placeholder="Nome..."><br>
  
  <select name="status">
    <option value="Disponível">Disponível</option>
    <option value="Indisponível">Indisponível</option>
  </select><br>
  
  <input type="text" name="destinacao" placeholder="Destinação"><br>
  
  <input type="number" name="taxa_rentabilidade" placeholder="Taxa de Rentabilidade"><br>
  
  <input type="number" name="prazo" placeholder="Prazo"><br>
  
  <input type="number" name="taxa_adm" placeholder="Taxa de Administração"><br>
  
  <button type="submit">Adicionar Produto</button>
</form>
</body>
</html>
