<!DOCTYPE html>
<html>
<head>
  <title>Adicionar Novo Produto</title>
</head>
<body>
  <h1>Adicionar Novo Produto</h1>

  <form action="/produto" method="POST">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required><br>
    
    <label for="status">Status:</label>
    <select id="status" name="status">
      <option value="Disponível">Disponível</option>
      <option value="Indisponível">Indisponível</option>
    </select><br>
    
    <label for="destinacao">Destinação:</label>
    <input type="text" id="destinacao" name="destinacao" required><br>
    
    <label for="taxaRentabilidade">Taxa Rentabilidade (%):</label>
    <input type="number" id="taxaRentabilidade" name="taxaRentabilidade" min="1" max="20" required><br>
    
    <label for="prazoMinimo">Prazo Mínimo (meses):</label>
    <input type="number" id="prazoMinimo" name="prazoMinimo" min="0" max="48" required><br>
    
    <label for="taxaAdministracao">Taxa Administração (%):</label>
    <input type="number" id="taxaAdministracao" name="taxaAdministracao" min="0" max="100" required><br>
    
    <button type="submit">Adicionar Produto</button>
  </form>
</body>
</html>
